Repository DeveloperAcademy-POSTECH/2025-C3-M2-TwoUs, pull requests merged in 2025-06, with the labels that each got.

#21 [Fix] #20 - DTO 경로 재설정
  EKO-iOS/EKO-iOS.xcodeproj/project.pbxproj
  EKO-iOS/EKO-iOS/Network/Feedback/DTO/Request/PostStartFeedbackRequsetDTO.swift
  EKO-iOS/EKO-iOS/Network/Feedback/DTO/Response/FetchSendFeedbackResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Feedback/DTO/Response/PostStartFeedbackResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Note/DTO/Request/DeleteFeedbackNoteRequestDTO.swift
  EKO-iOS/EKO-iOS/Network/Note/DTO/Request/PatchNoteFavoriteRequestDTO.swift
  EKO-iOS/EKO-iOS/Network/Note/DTO/Request/PatchNoteTitleRequestDTO.swift
  EKO-iOS/EKO-iOS/Network/Note/DTO/Response/DeleteFeedbackNoteResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Note/DTO/Response/FetchFeedbackNotesResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Note/DTO/Response/PatchFeedbackNoteFavoriteResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Note/DTO/Response/PatchFeedbackNoteTitleResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Notification/DTO/Request/PostDeviceTokenRequestDTO.swift
  EKO-iOS/EKO-iOS/Network/Notification/DTO/Response/PostDeviceTokenResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/S3/DTO/Response/FetchS3DownloadURLResposeDTO.swift
Labels: 🐛 Fix, 👽 Elian

#26 [Feat] #25 학습노트 뷰 기능 추가
  EKO-iOS/EKO-iOS/Feature/LearningNote/LearningNoteView.swift
  EKO-iOS/EKO-iOS/Feature/LearningNote/Model/LearningNoteModel.swift
  EKO-iOS/EKO-iOS/Feature/LearningNote/SubViews/LearningNoteSubViews.swift
Labels: ✨ Feat, 🙏🏻 Echo

#30 [Feat] #23 - RecordingRequest, RecordingResponse API
  EKO-iOS/EKO-iOS.xcodeproj/project.pbxproj
  EKO-iOS/EKO-iOS/Core/Resources/Assets/Localizable.xcstrings
  EKO-iOS/EKO-iOS/Core/Resources/Config.xcconfig
  EKO-iOS/EKO-iOS/Core/Utils/AudioPlayer.swift
  EKO-iOS/EKO-iOS/Core/Utils/AudioRecoder.swift
  EKO-iOS/EKO-iOS/Feature/RecordingRequest/RecordingRequestView.swift
  EKO-iOS/EKO-iOS/Feature/RecordingRequest/ViewModel/RecordingRequestViewModel.swift
  EKO-iOS/EKO-iOS/Feature/RecordingResponse/RecordingResponseView.swift
  EKO-iOS/EKO-iOS/Feature/RecordingResponse/ViewModel/RecordingResponseViewModel.swift
  EKO-iOS/EKO-iOS/Network/Feedback/DTO/Response/FetchSendFeedbackResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Feedback/DTO/Response/PostStartFeedbackResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/Feedback/FeedbackAPIService.swift
  EKO-iOS/EKO-iOS/Network/S3/S3APIService.swift
  EKO-iOS/EKO-iOS/Network/Session/DTO/Response/FetchSendQuestionResponseDTO.swift
Labels: ✨ Feat, ✨ Glowny

#33 [Feat] #32 유저 관련 네크워크 코드 구현
  EKO-iOS/EKO-iOS.xcodeproj/project.pbxproj
  EKO-iOS/EKO-iOS/Network/Base/NetworkService.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Request/PostNewFriendsRequestDTO.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Request/PostRegisterRequestDTO.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Response/FetchFriendsProfileResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Response/FetchMyFriendsListResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Response/FetchMyprofileResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Response/PostNewFriendsResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Response/PostRegisterResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/User/UserAPIService.swift
  EKO-iOS/EKO-iOS/Network/User/UserTargetType.swift
Labels: ✨ Feat, 👽 Elian

#41 [Feat] #34 - EKOFriendsView API 연결
  EKO-iOS/EKO-iOS/Feature/RecordingRequest/SubViews/RecordingRequestSubView.swift
  EKO-iOS/EKO-iOS/Feature/RecordingRequest/ViewModel/RecordingRequestViewModel.swift
  EKO-iOS/EKO-iOS/Feature/RecordingResponse/SubViews/RecordingResponseSubView.swift
  EKO-iOS/EKO-iOS/Feature/RecordingResponse/ViewModel/RecordingResponseViewModel.swift
  EKO-iOS/EKO-iOS/Network/Feedback/DTO/Response/FetchSendFeedbackResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/User/DTO/Response/FetchMyFriendsListResponseDTO.swift
  EKO-iOS/EKO-iOS/Network/User/UserAPIService.swift
  EKO-iOS/EKO-iOS/Network/User/UserTargetType.swift
Labels: ✨ Feat, 👽 Elian
